@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

:root{
  font-family: 'Quicksand', sans-serif;

  --whitey0: #F8F9FA;
  --white-grey1: #E9ECEF;
  --light-grey2: #DEE2E6;
  --grey3: #CED4DA;
  --darkly-grey4: #ADB5BD;
  --dark-grey5: #6C757D;
  --darker-grey6: #495057;
  --darkest-grey7: #343A40;
  --blackish-grey: #212529;

}

body {
  width: 100%;
  height: 100%;;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('C:\Users\thdal\Desktop\PI-Videogames-main\client\src\Images\Playstation_Wallpaper2.png');
  background-size:cover;
  background-repeat: none;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-weight: 600;
}
