.button{
    border-radius: 50px;
    background: linear-gradient(145deg, #747d86, #616971);
    box-shadow:  1px 1px 2px #666e76,
                -1px -1px 2px #727c85;

    border: transparent;
    height: 25px;
    width: 25px;

    margin-top: 5px;
}

.button:hover{
    border-radius: 50px;
    background: linear-gradient(145deg, #616971, #747d86);
    box-shadow:  1px 1px 2px #666e76,
                -1px -1px 2px #727c85;
    cursor: pointer;

}

.icon{
    margin-top: 2px;
}