.searchContainer{
    grid-column: 2/4;
    grid-row: 2/3;

    background-color:  var(--grey3);
    width: 80%;
    margin-left: -75px;

    border:transparent 1px;
    border-radius: 18px;
    background: var(--grey3);
    box-shadow: inset 9px 9px 12px #8a8e92,
            inset -9px -9px 12px #ffffff;

    display: flex;
    justify-content: space-around;
    align-content: center;
}

.searchBar{
    background-color: transparent;
    border: none;

    margin-top: 5px;
    padding: 1px;
    height: 70%;


}
.searchBar:focus{
    /* background-color: var(--darkly-grey4);    */
    border: transparent; 
}



.searchButton{
    height: 30px;
}