
.cardsContainer{
    background-color: (var(--grey3));
    
    padding: 30px;
    grid-column: 1/2;
    grid-row: 2/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow-y: scroll;
    /* margin-left: 10px;
    margin-right: 5px; */
    border-radius: 10px;
    border:transparent;
    margin-bottom: 7vh

    /* min-height: 82vh; */
}

.buttonContainer{
    width: 100vw;
}



/* Hide scrollbar for Chrome, Safari and Opera */
    .cardsContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cardsContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* BUTONS */

.prevButton{
    height: 50px;
    width: 100px;
    border-radius: 17px;
    background: linear-gradient(145deg, #dce3e9, #b9bfc4);
    box-shadow:  7px 7px 14px #808387,
                -7px -7px 14px #ffffff;
    border: transparent;
    margin-left: 0px;

    margin-top: 10px;
}

.prevButton:hover{
    border-radius: 17px;
    background: linear-gradient(145deg, #b9bfc4, #dce3e9);
    box-shadow:  7px 7px 14px #808387,
                -7px -7px 14px #ffffff;
    cursor: pointer;
}

.prevButton:focus{
    border-radius: 17px;
    background: #CED4DA;
    box-shadow: inset 7px 7px 14px #808387,
            inset -7px -7px 14px #ffffff;
    cursor: pointer;
}

.nextButton{
    height: 50px;
    width: 100px;
    border-radius: 17px;
    background: linear-gradient(145deg, #dce3e9, #b9bfc4);
    box-shadow:  7px 7px 14px #808387,
                -7px -7px 14px #ffffff;
    border: transparent;
    margin-left: 400px;
    margin-top: 10px;
}

.nextButton:hover{
    border-radius: 17px;
    background: linear-gradient(145deg, #b9bfc4, #dce3e9);
    box-shadow:  7px 7px 14px #808387,
                -7px -7px 14px #ffffff;
    cursor: pointer;
}

.nextButton:active{
    border-radius: 17px;
    background: #CED4DA;
    box-shadow: inset 7px 7px 14px #808387,
            inset -7px -7px 14px #ffffff;
    cursor: pointer;
}


/*           LOADING ANIMATION                   */

@keyframes configure-clockwise {
    0% {
      transform: rotate(0);
      border-radius: 12px;
      background: #4cc9f0;
      box-shadow: inset 10px 10px 20px #3a99b6,
                  inset -10px -10px 20px #5ef9ff;
    }
    25% {
      transform: rotate(90deg);
      border-radius: 12px;
      background: #4895ef;
      box-shadow: inset 10px 10px 20px #3771b6,
                  inset -10px -10px 20px #59b9ff;
    }
    50% {
      transform: rotate(180deg);
      border-radius: 12px;
      background: #4361ee;
      box-shadow: inset 10px 10px 20px #334ab5,
                  inset -10px -10px 20px #5378ff;
    }
    75% {
      transform: rotate(270deg);
      border-radius: 12px;
      background: #3f37c9;
      box-shadow: inset 10px 10px 20px #302a99,
                  inset -10px -10px 20px #4e44f9;
    }
    100% {
      transform: rotate(360deg);
      border-radius: 12px;
      background: #3a0ca3;
      box-shadow: inset 10px 10px 20px #2c097c,
                  inset -10px -10px 20px #480fca;
    }
  }
  
  @keyframes configure-xclockwise {
    0% {
      transform: rotate(45deg);
      border-radius: 12px;
      background: #480ca8;
      box-shadow: inset 10px 10px 20px #370980,
                  inset -10px -10px 20px #590fd0;
    }
    25% {
      transform: rotate(-45deg);
      border-radius: 12px;
      background: #560bad;
      box-shadow: inset 10px 10px 20px #410883,
                  inset -10px -10px 20px #6b0ed7;
    }
    50% {
      transform: rotate(-135deg);
      border-radius: 12px;
      background: #7209b7;
      box-shadow: inset 10px 10px 20px #57078b,
                  inset -10px -10px 20px #8d0be3;
    }
    75% {
      transform: rotate(-225deg);
      border-radius: 12px;
      background: #b5179e;
      box-shadow: inset 10px 10px 20px #8a1178,
                  inset -10px -10px 20px #e01dc4;
    }
    100% {
      transform: rotate(-315deg);
      border-radius: 12px;
      background: #f72585;
      box-shadow: inset 10px 10px 20px #bc1c65,
                  inset -10px -10px 20px #ff2ea5;
    }
  }

.loadingContainer{
    margin-left: calc(50vw - 280px);
    margin-top: calc(50vh - 315px);
    /* background-color: #f72585; */
}

.spinnerBox {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.configureBorder1 {
    width: 215px;
    height: 215px;
    padding: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4cc9f0;
    animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
  }
  
  .configureBorder2 {
    width: 215px;
    height: 215px;
    padding: 3px;
    left: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f72585;
    transform: rotate(45deg);
    animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
  }
  
  .configureCore {
    width: 95%;
    height: 95%;
    /* background: #ced4da;
    background: radial-gradient(circle, #ced4da 0%, rgba(108,117,125,1) 100%);; */
    border-radius: 12px;
    background: #ADB5BD;
    box-shadow: inset 10px 10px 20px #838a90,
                inset -10px -10px 20px #d7e0ea;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.1));
  }